{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/help.css' %}">
<div style="margin-top: 5%; color: rgb(31, 0, 117) ">
    <div
        style="border-radius: 10px; font-weight: bold; margin-left: 30%; width: 40%; height: 200px; border: none 1px; background-color: rgb(255, 255, 255) ;">
        <h5 style="margin-left: 2%;">
            Aurora QR Bot - bot that generates a QR code with different types <br>
            of customizations. You can use this bot for link redirections, <br>
            barcodes and etc. You can also insert your own logo or any image in <br>
            the QR code. And many more features are coming soon. <br>
        </h5>
    </div>
    <h5 style="text-align: center; font-weight: bold; margin-top: 3%;">Credits:</h5>
    <div style="display: flex; margin-top: 3%;">
        <div
            style="margin-left: 3%; border-radius: 10px; width: 30%;  border: none 1px; background-color: rgb(227, 222, 245);">
            <p>
                <h6 style="margin-left: 20%">Javokhirbek Khaydaraliev:</h6>
                Email: khaydaraliev99@gmail.com <br>
                LinkedIn: <a href="https://www.linkedin.com/in/javokhirbek-khv">https://www.linkedin.com/in/javokhirbek-kh</a> <br>
                GitHub: <a href="https://github.com/javokhirbek1999">https://github.com/javokhirbek1999 </a><br>
                Instagram: <a href="https://www.instagram.com/dev_jeff20/">https://www.instagram.com/dev_jeff20/</a> <br>
        </div>
        <div
            style=" border-radius: 10px; width:30%; border: none 1px; margin-left: 2%; background-color: rgb(227, 222, 245) ;">
            <p>
                <h6 style="margin-left: 20%">Sarvarbek Juraev: </h6>
                Email: <a href=" sarvarbekjuraev159@gmail.com "> sarvarbekjuraev159@gmail.com </a><br>
                LinkedIn <a href="https://www.linkedin.com/in/sarvarbek-juraev-bb5888237/ ">https://www.linkedin.com/in/sarvarbek-juraev-bb5888237/ </a><br>
                GitHub: <a href="https://github.com/sarvar2003">https://github.com/sarvar2003</a> <br>
                Instagram: <a href="https://www.instagram.com/sarvar_striker/ ">https://www.instagram.com/sarvar_striker/ </a><br>

            </p>
        </div>
        <div
            style=" border-radius: 10px; width:30%; border: none 1px;  background-color: rgb(227, 222, 245);margin-left: 2%;">
            <p >
                <h6 style="margin-left: 20%">Fakhriddin Abdullajonov: </h6>
                Email: <a href=" fabdullajonov2003@gmail.com"> fabdullajonov2003@gmail.com</a> <br>
                LinkedIn <a href="https://www.linkedin.com/in/faxriddin-abdullajonov-871451202/">https://www.linkedin.com/in/faxriddin-abdullajonov-871451202/</a> <br>
                GitHub: <a href=" https://github.com/Fakhriddin2003 "> https://github.com/Fakhriddin2003 </a><br>
                Instagram: <a href="https://www.instagram.com/fakhriddinabdullajonov/">https://www.instagram.com/fakhriddinabdullajonov/</a> <br>
            </p>
        </div>
    </div>
    <p style="text-align:center; margin-top: 2%;">
        Report an issue - <a href="https://github.com/javokhirbek1999/AuroraQR/issues">https://github.com/javokhirbek1999/AuroraQR/issues</a>
    </p>
</div>
{% endblock content %}